<h1>Time-lapse - Florianópolis</h1>
<h2>Jul 23, 2014 (02:00 - 23:00)</h2>

{{place}}
{{startTime}}
{{endTime}}

<nav>
  <a href="">Galeria</a>
  <a href="">Vídeo</a>
</nav>


{{timelapse-viewer path=path photos=photos}}

<div class="controller">
  <input type="number"><label for="">Hs</label>
  <input type="number"><label for="">Mins</label>

  <button> <i class="fa fa-step-backward"></i> </button>
  <button>
    {{#if 'false'}}
    <i class="fa fa-pause"></i>
    {{else}}
    <i class="fa fa-play"></i>
    {{/if}}
  </button>
  <input type="number"><label for="">Fps</label>
</div>

  <footer>
    Feito com Raspberry Pi + Debian GNU/Linux + Node.js + Ember.js
  </footer>

{{outlet}}
