<header>
  <h1 class="timelapse-info">
    {{place}}.
    {{format-date startTimeFtd null 'compact'}} - {{format-date endTimeFtd null 'compact'}}
  </h1>
  <span class="timelapse-status">
    <span {{bind-attr class=":dot isWebSocketConnectionActive:active:inactive"}}></span>
  </span>
</header>

<!--
<nav>
  <a href="">Galeria</a>
  <a href="">Vídeo</a>
</nav>
-->

{{timelapse-viewer path=path photos=photos}}

{{outlet}}
