<h1>Time-lapse - Florianópolis</h1>
<h2>Jul 23, 2014 (02:00 - 23:00) - info fake preencher c/ moment -</h2>

{{place}}
{{startTime}}
{{endTime}}

<nav>
  <a href="">Galeria</a>
  <a href="">Vídeo</a>
</nav>


{{timelapse-viewer path=path photos=photos}}


<footer>
  Feito com Raspberry Pi + Debian GNU/Linux + Node.js + Ember.js
</footer>

{{outlet}}
